// <ПОДВАЛ САЙТА>

.footer {
  grid-area: footer;
  display: grid;
  grid-template: 1fr / minmax(15px, 20px) minmax(10px, 1fr) minmax(15px, 20px);

  width: 100%;

  &__wrapper {
  
  }




  @media (max-width: 867px) {}

}

// </ПОДВАЛ САЙТА>