// <ШАПКА САЙТА>
.header {
  z-index: 25;
  padding: 7px 0px;
  grid-area: header;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1240px) minmax(15px, 1fr);

  &__wrapper {
    padding: 22px 11px;
    grid-area: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    transition: all .3s ease;
    border-radius: 10px;
    gap: 10px;

    &.scrolled {
      padding: 11px 11px;
      background: $bg-box-dark-tr;
    }
  }
}