// <ОСНОВНОЙ БЛОК>

.main {
  grid-area: main;
  height: 100%;

  
  
  &__wrapper {
  height: 100%;

    display: grid;
    grid-template: 1fr/minmax(15px,20px) minmax(56px,56px) minmax(10px,1fr) minmax(15px,20px);
    padding-top: 100px;
  }


  @media (max-width: 867px) {
    &__row {
    }
  }
}


// @media (max-width: 867px) {}