// <ОСНОВНОЙ БЛОК>

.main {
  grid-area: main;
  height: 100%;

  
  
  &__wrapper {
  height: 100%;

    display: grid;
    grid-template: 1fr/ minmax(86px,86px) minmax(10px,1fr) ;
    padding-top: 100px;
    position: relative;
  }


  @media (max-width: 867px) {
  }
}


// @media (max-width: 867px) {}