.news {
  flex-basis: 78%;
  @include f(flex-start, flex-start, row);
  position: relative;
  align-self: stretch;

  h1 {
    color: $bg-dark;
    font-size: 85px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: $fontfamily-v3;
    z-index: 1;
    margin-bottom: 30px;
  }

  p {
    position: relative;
    padding: 10px 0px 5px 5px;
    font-size: 17px;
    font-weight: 700;
    z-index: 3;
    color: $desc-grey;
    text-transform: uppercase;
  }

  h2 {
    position: relative;
    z-index: 3;
    padding: 10px 0px 5px 5px;
    font-size: 47px;
    font-weight: 700;
    color: $desc-light;
    text-transform: uppercase;
  }

  &__desc {
    padding: 20px;
  }

  &__img {
    position: absolute;
    width: 300px;
    border-radius: 15px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
  }

  @media (max-width: 867px) {
    h1 {
      font-size: 55px;

    }
  }

  @media (max-width: 367px) {
    h1 {
      font-size: 35px;

    }
  }
}