.settings {
  padding: 20px;
  margin-bottom: 20px;

  &__row {
    @include f(space-between, center, row);
  }

  &__info {
    @include f(center, flex-start, column);
    gap: 10px;

    flex-basis: 50%;
  }

  &__column {
    width: 100%;
    @include f(space-between, flex-start, row);
    gap: 10px;

  }

  &__input {
    margin-bottom: 10px;
    // align-self: stretch;
    flex-basis: 50%;
    width: 100%;
    color: #fff;
    padding: 17px 20px;
    background-color: #1f1d22;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 21px;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
  }

  &__form {
    width: 100%;
  }

&__btn{
  align-self: stretch;
  flex-basis: 50%;
}

  &__title {

    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
  }

  &__creds {
    align-self: stretch;
    color: $desc-grey;
    padding: 17px 20px;
    background-color: #1f1d22;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 21px;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
  }

  &__img {
    min-height: 450px;
    flex: 0 1 50%;
    border-radius: 8px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }

  @media (max-width: 867px) {
    &__row {
      display: block;
    }

    &__img {
      background-size: 100%;
    }
  }
}