// <ШАПКА САЙТА>
//* .header {
//*   z-index: 25;
//*   padding: 7px 0px;
//*   grid-area: header;
//*   width: 100%;
//*   position: fixed;
//*   display: grid;
//*   grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1240px) minmax(15px, 1fr);

//*   &__wrapper {
//*     padding: 22px 11px;
//*     grid-area: 1/2;
//*     display: flex;
//*     align-items: center;
//*     justify-content: space-between;
//*     position: relative;
//*     flex-wrap: wrap;
//*     transition: transform 100ms ease-in-out;
//*     border-radius: 10px;

//*     &.scrolled {
//*       padding: 11px 11px;
//*       background: $bg-box-dark-tr;
//*     }
//*   }
//* }

.burger {
  transition: transform 100ms ease-in-out;

  &__btn {
    @media (min-width: 867px) {
      display: none;
    }

    span {
      margin: 5px;
      display: block;
      width: 24px;
      height: 17px;
      background-image: none;
      position: relative;
      border-bottom: 2px solid #fff;
      transition: all 270ms linear;
      top: -2px;

      &::before {
        width: 24px;
        position: absolute;
        height: 2px;
        background-color: #fff;
        top: 0;
        left: 0;
        content: '';
        z-index: 2;
        transition: all 270ms linear;
      }

      &::after {
        width: 24px;
        position: absolute;
        height: 2px;
        background-color: #fff;
        top: 8px;
        left: 0;
        content: '';
        z-index: 2;
        transition: all 270ms linear;
      }
    }
  }

  &__menu {
    @include f(space-between, center, row);
    width: 100%;
    gap: 10px;
    z-index: 10;
  }

  @media (max-width: 867px) {

    &__menu {
      @include f(center, center, column);
      background-color: $bg-box-dark-tr;
      padding: 20px 10px;
      border-radius: 10px;
      flex-basis: 100%;
      width: 100%;
      position: absolute;
      transition: all .5s ease;
      top: -250%;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%);

      &-active {
        top: 110%;
        opacity: 1;
      }
    }
  }

}