.switch {
  margin: 7px 0px;

  input {
    display: none; // убираем деф чекбокс

    // как только изменяется состояние скрытого чекбокса (label и switch связаны) изменят стиль псевдоэлемента before (это кастомная кнопка)
    &:checked~.switch__label::before {
      background-color: $desc-grey;
    }

    // перемещаю круг вправо
    &:checked~.switch__label::after {
      left: 27px;
    }

    // в моммент active растягивую круг
    &:active~.switch__label::after {
      width: 40px;
      // left: 27px;
    }

    // перемещаю круг влево
    &:checked:active~.switch__label::after {
      left: 12px;
    }

    // &:disabled~.switch__label {
    //   // pointer-events: none;
    // }

    &:disabled~.switch__label::after {
      opacity: 0.5;
    }

    &:disabled~.switch__label::before {
      opacity: 0.5;
    }
  }

  // стили для label
  &__label {
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1px;
    // line-height: 21px;
    color: $desc-grey;
    user-select: none;
    cursor: pointer;
    position: relative;

    padding-left: 70px;

    //плавность при изменении элемента
    transition: all 100ms ease-in-out;

    // бек свитча
    &:before {
      content: "";
      width: 55px;
      height: 30px;

      position: absolute;
      cursor: pointer;
      z-index: 3;

      // центрирую относительно lable
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      background-color: $desc-grey;
      border-radius: 200px;
      // наследование анимации от родителя
      transition: inherit;
    }

    &::after {
      content: "";
      width: 25px;
      height: 25px;

      position: absolute;
      z-index: 4;
      left: 3px;
      // top: -1px;
      top: 50%;
      transform: translateY(-50%);
      // transform: translateY(-50%);

      background-color: #fff;
      border-radius: 200px;

      transition: inherit;
    }
  }
}