.btn {

  &__ico {
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 100ms ease-in-out;
    &:hover {
      transform: scale(1.15);
    }
  }

  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 21px;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: $bg-dark;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: #558e87;
  }


  &-exit:hover {
    background-color: #8e5558;

  }

  &-showmore {

  }
  
  &-add {
    padding: 10px 10px;
    background-color: $bg-dark;
    transition: background-color 0.2s ease-out;

    &:hover {
      background-color: #558e87;
    }
  }


  &-p {
    padding: 25px 20px;
  }

  &-100{
    align-self: stretch;

  }

  &__f {
    margin: 10px 0px 5px 5px;
    position: relative;
    z-index: 4;
    display: inline-block;
    padding: 1px 11px;
    background-color: #7f00ff;
    color: #fff;
    border-radius: 5px;
    line-height: 24px;
    font-weight: 700;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 200ms ease-in-out, transform 100ms ease-in-out;
    -webkit-user-select: none;
    user-select: none;

    cursor: pointer;
    transition: background 200ms ease-in-out, transform 100ms ease-in-out;

    user-select: none; // текст на кнопке нельзя скопировать

    &--rounded {
      border-radius: 40px;
    }

    &:hover {
      background-color: #7100e2;
    }

    &:active {
      transform: scale(.95);
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.400);
    }
  }
}