.bucket {
  &__row {
    margin-top: 20px;
    @include f(space-between, center, column);
    gap: 20px;
  }

  &__box {
    
    @include f(space-between, center, column);
    margin: 20px 0px;
    padding: 20px;
  }
}