.search {
  position: relative;

  // max-width: 300px;
  &__text {
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    padding: 11px 54px 8px 15px;
    border-radius: 6px;
    background-color: $bg-box-dark;
    border: 1px solid $bg-box-dark;
    outline: none !important;
    color: $title-grey;
    position: relative;
    transition: all 150ms ease-in-out;

    font-size: 14px;
    &::placeholder {
    color: $title-grey;

    }

    // &:focus {
    //   border-color: #18259b;
    //   background-color: #23243e;
    //   box-shadow: 0px 0px 13px rgba(0, 26, 255, 0.25);
    // }
  }

  &::after {
    content: "";
    width: 35px;
    height: 35px;
    // right: -10px;
    right: 0px;

    top: 50%;
    transform: translateX(-10%) translateY(-50%);


    // background-color: red;
    position: absolute;
    z-index: 10;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
}