.dropdown {
  position: relative;

  // при наведении выпадает меню
  &__link {
    // font-weight: 700;
    // line-height: 27px;
    font-size: 16px;
    padding: 6px 0px;
    color: $desc-grey;
    // text-decoration: underline;
    transition: color 150ms ease-in-out;
    cursor: default;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  // контейнер для выпадающего меню 
  &__sublinks {
    background-color: $bg-box-dark-tr;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px 0px;
    position: absolute;
    width: 150px;
    border-radius: 10px;

    // плавность появления (top отвечает за плавное появлени сверху)
    transition: all 150ms ease-in-out;

    // скрыть меню
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    left: 0px;
    // top: -50px;

    @media (max-width: 867px) {
      width: 150px;
      left: 50%;
      transform: translateX(-50%);
    }

    // маленький квадратик
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 10px;
    //   height: 10px;
    //   background-color: $bg-box-dark-tr;
    //   top: 60px;
    //   left: -4px;
    //   transform: rotate(45deg);
    // }

    // класс добавляется контейнеру при клике на link (открыть меню)
    &--active {
      z-index: 2;
      opacity: 1;
      width: 100%;
      top: 100%;
      visibility: visible;
    }

    // разделы в выпадающием меню
    &-item {
      user-select: none;

      cursor: pointer;
      padding: 7px 13px;
      margin: 0px 8px;
      border-radius: 8px;
      font-size: 14px;
      line-height: 17px;
      color: #fff;

      transition: all 150ms ease-in-out;

      &:hover {
        // background-color: #23243e;
        background: linear-gradient(90.21deg, #e2b5d2 -5.91%, #f7d066 111.58%);

        // color: #f73164;
      }
    }
  }
}