.category {
  &__row {
    
    margin:20px 0px 20px 0px;
    // padding: 20px 0px;

    @include f(space-between, flex-start, row);
    flex-wrap: wrap;
  }
  
  &__submenu {
    align-self: stretch;
    flex-basis: 20%;
    @include f(space-between, center, column);
    // gap: 20px;
  }

  @media (max-width: 867px) {
    &__row {
      display: block;
      padding: 10px 0px;
    }
  }
}