.trend {
  text-align: center;
  margin-bottom:  25px;
  margin-top:  25px;


  & > h2 {
    padding: 20px 20px;
    // @include f(center, center, column);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
  }
}