$color-dark: #1b1b1e;
$color-light: #f1f1f1;
$color-white: #ffffff;

$font-color-grey: #000000d5;
$font-color-grey-light: #4d4b4e;
$font-color-light: #D6D6D6;

$bg-light-hover: #bfbfbf;

.theme-dark{
  background-color: $color-dark;
}
.theme-dark-font{
  color: $font-color-light;
}
.theme-dark-menu{
  background-color: rgba(2, 2, 2, 0.7254901961);
}
.theme-dark-sub-menu{
  background-color: #26272b;
}
.theme-dark-hover{
  &:hover {
    background-color: $color-dark;
  }
}


.theme-light{
  background-color: $color-light;
}
.theme-light-font{
  color: $font-color-grey;
}
.theme-light-menu{
  background-color: $color-white;
}
.theme-light-hover{
  &:hover {
    background-color: $color-light;
  }
}