$bg-dark: #1b1b1e;
$bg-grey: #2e2f33;
$bg-tooltip: #ffffff;

$bg-light: #fff;
$title-light: #fff;
$desc-light: #fff;


$title-grey: #acaaaf;
$desc-grey: #acaaaf;


$bg-box-dark-tr: #020202b9;
$bg-box-dark: #19171b;