.nav {
  padding: 20px;
  margin-bottom: 20px;

  &__row {
    @include f(space-between, baseline, row);
  }

  &__btn {
    width: 350px;
    overflow: hidden;
    flex: 1 1 25%;
    background: none;
    color: inherit;
    border: none;
    padding: 1px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 10px;
    background-color: $bg-dark;

  }

  &__txt {
    display: block;
    background-color: transparent;
    border-radius: 0;
    padding: 10px 40px;
    color: #fff;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;

    &.active::before {
      width: 100% !important;
      cursor: default;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      background: linear-gradient(90.21deg, #e2b5d2 -5.91%, #f7d066 111.58%);
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.3s ease-in-out;
    }
  }

  @media (max-width: 1067px) {
  
    &__btn {
      width: auto;
    }
  }
  @media (max-width: 867px) {
    margin-top: 20px;


    &__txt {

      font-size: 13px;

      padding: 10px 15px;

    }
  }
}