.title {
  width: 100%;
  border-radius: 7px;
  padding: 12px 10px 1px 9px;
  background: linear-gradient(90.21deg, #e2b5d2 -5.91%, #f7d066 111.58%);
  &__headline {

    font-size: 35px;
    font-weight: 600;
  }

  &__desc {
    width: 80%;
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 10px 0 10px 0;
  }
}